### Load 'titanic_train.csv' CSV file and save last 5 rows in Excel format

In [70]:
import pandas as pd
import os
os.getcwd()

'C:\\Users\\kurs\\PycharmProjects\\bootcamp\\zjazd5'

In [71]:
dane1 = pd.read_csv("files_pandas_21_01_2017/titanic_train.csv")
dane1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Load Excel file from previous exercise and save it again with only first four columns

In [79]:
dane2 = dane1.iloc[:4,:].to_excel("files_pandas_21_01_2017/titanic_train4_column.xlsx")
dane3 = pd.read_excel("files_pandas_21_01_2017/titanic_train4_column.xlsx")
dane3

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S

### Test how loc and iloc works (be creative :) )

In [87]:
dane3.loc[1:2,"Name":"Fare"]

,Name,Sex,Age,SibSp,Parch,Ticket,Fare
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833
2,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250

In [77]:
dane3.iloc[1:2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C

In [59]:
dane3.loc[3:3]

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1,C123,S

In [60]:
dane3.iloc[2:3]

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,NaN,S

### Załaduj plik csv z `titanic_train.csv` z folderu `files_pandas_21_01_2017`

#### Sprawdź pierwsze wiersze

#### Policz wystąpienia wartości zmiennej survived

#### Sprawdź typy danych

# Wróćmy do wykładu - Zmiana typów danych w czasie odczytu

## Exercises

### Load 'titanic_train.csv' file, with category type for all columns that are compatible with this type.

In [147]:
import numpy as np
dan = pd.read_csv("files_pandas_21_01_2017/titanic_train.csv")
data = pd.read_csv(os.path.join("files_pandas_21_01_2017/titanic_train.csv"),
                     dtype = {
                         'Survived': np.bool,
                         'Sex':'category',
                         'PassengerID': np.int16,
                         'Pclass': np.int8,
                         'Embarked':'category',
                         'Age': np.float16,
                         'Fare':np.float16,
                         'Parch':np.int8,
                         'SibSp':np.int8
                     })

In [148]:
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null bool
Pclass         891 non-null int8
Name           891 non-null object
Sex            891 non-null category
Age            714 non-null float16
SibSp          891 non-null int8
Parch          891 non-null int8
Ticket         891 non-null object
Fare           891 non-null float16
Cabin          204 non-null object
Embarked       889 non-null category
dtypes: bool(1), category(2), float16(2), int64(1), int8(3), object(3)
memory usage: 115.7 KB

In [149]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,False,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250000,NaN,S
1,2,True,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.312500,C85,C
2,3,True,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925781,NaN,S
3,4,True,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.093750,C123,S
4,5,False,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.046875,NaN,S

In [150]:
data.Cabin.fillna('Deck', inplace = True)
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,False,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250000,Deck,S
1,2,True,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.312500,C85,C
2,3,True,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925781,Deck,S
3,4,True,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.093750,C123,S
4,5,False,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.046875,Deck,S

### Fill NaN values in Age column with mean value of this column.

In [154]:
data.Age.fillna(data.Age.mean(), inplace = True)
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,False,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250000,Deck,S
1,2,True,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.312500,C85,C
2,3,True,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925781,Deck,S
3,4,True,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.093750,C123,S
4,5,False,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.046875,Deck,S

### Fill NaN values in Embarked with most common location.

In [157]:
data.Embarked.fillna('Q', inplace = True)
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,False,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250000,Deck,S
1,2,True,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.312500,C85,C
2,3,True,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925781,Deck,S
3,4,True,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.093750,C123,S
4,5,False,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.046875,Deck,S

### Create 3 Series with different indexes that overlap a bit (i.e. 1-10, 5-15, 10-20). Create DataFrame from them and see what happens.

In [169]:
s1 = pd.Series(np.arange(1,10), index = np.arange(1,10))
s2 = pd.Series(np.arange(5,15), index = np.arange(5,15))
s3 = pd.Series(np.arange(10,20), index = np.arange(2,12))

In [172]:
s4 = pd.DataFrame({
    "Seria1": s1,
    "Seria2": s2,
    "Seria3": s3
})

In [174]:
data.shape

(891, 12)

In [177]:
data[data.Age >50]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
6,7,False,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.875000,E46,S
11,12,True,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.546875,C103,S
15,16,True,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.000000,Deck,S
33,34,False,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.500000,Deck,S
54,55,False,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.968750,B30,C
94,95,False,3,"Coxon, Mr. Daniel",male,59.0,0,0,364500,7.250000,Deck,S
96,97,False,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.656250,A5,C
116,117,False,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.750000,Deck,Q
124,125,False,1,"White, Mr. Percival Wayland",male,54.0,0,1,35281,77.312500,D26,S
150,151,False,2,"Bateman, Rev. Robert James",male,51.0,0,0,S.O.P. 1166,12.523438,Deck,S
152,153,False,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.046875,Deck,S
155,156,False,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.375000,Deck,C
170,171,False,1,"Van der hoef, Mr. Wyckoff",male,61.0,0,0,111240,33.500000,B19,S
174,175,False,1,"Smith, Mr. James Clinch",male,56.0,0,0,17764,30.703125,A7,C
195,196,True,1,"Lurette, Miss. Elise",female,58.0,0,0,PC 17569,146.500000,B80,C
222,223,False,3,"Green, Mr. George Henry",male,51.0,0,0,21440,8.046875,Deck,S
232,233,False,2,"Sjostedt, Mr. Ernst Adolf",male,59.0,0,0,237442,13.500000,Deck,S
249,250,False,2,"Carter, Rev. Ernest Courtenay",male,54.0,1,0,244252,26.000000,Deck,S
252,253,False,1,"Stead, Mr. William Thomas",male,62.0,0,0,113514,26.546875,C87,S
262,263,False,1,"Taussig, Mr. Emil",male,52.0,1,1,110413,79.625000,E67,S
268,269,True,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58.0,0,1,PC 17582,153.500000,C125,S
275,276,True,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.937500,D7,S
280,281,False,3,"Duane, Mr. Frank",male,65.0,0,0,336439,7.750000,Deck,Q
317,318,False,2,"Moraweck, Dr. Ernest",male,54.0,0,0,29011,14.000000,Deck,S
326,327,False,3,"Nysveen, Mr. Johan Hansen",male,61.0,0,0,345364,6.238281,Deck,S
366,367,True,1,"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)",female,60.0,1,0,110813,75.250000,D37,C
406,407,False,3,"Widegren, Mr. Carl/Charles Peter",male,51.0,0,0,347064,7.750000,Deck,S
438,439,False,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.000000,C23 C25 C27,S
449,450,True,1,"Peuchen, Major. Arthur Godfrey",male,52.0,0,0,113786,30.500000,C104,S
456,457,False,1,"Millet, Mr. Francis Davis",male,65.0,0,0,13509,26.546875,E38,S
...,...,...,...,...,...,...,...,...,...,...,...,...
493,494,False,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.500000,Deck,C
496,497,True,1,"Eustis, Miss. Elizabeth Mussey",female,54.0,1,0,36947,78.250000,D20,C
513,514,True,1,"Rothschild, Mrs. Martin (Elizabeth L. Barrett)",female,54.0,1,0,PC 17603,59.406250,Deck,C
545,546,False,1,"Nicholson, Mr. Arthur Ernest",male,64.0,0,0,693,26.000000,Deck,S
555,556,False,1,"Wright, Mr. George",male,62.0,0,0,113807,26.546875,Deck,S
570,571,True,2,"Harris, Mr. George",male,62.0,0,0,S.W./PP 752,10.500000,Deck,S
571,572,True,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0,2,0,11769,51.468750,C101,S
582,583,False,2,"Downton, Mr. William James",male,54.0,0,0,28403,26.000000,Deck,S
587,588,True,1,"Frolicher-Stehli, Mr. Maxmillian",male,60.0,1,1,13567,79.187500,B41,C
591,592,True,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",female,52.0,1,0,36947,78.250000,D20,C
625,626,False,1,"Sutton, Mr. Frederick",male,61.0,0,0,36963,32.312500,D50,S
626,627,False,2,"Kirkland, Rev. Charles Leonard",male,57.0,0,0,219533,12.351562,Deck,Q
630,631,True,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.000000,A23,S
631,632,False,3,"Lundahl, Mr. Johan Svensson",male,51.0,0,0,347743,7.054688,Deck,S
647,648,True,1,"Simonius-Blumer, Col. Oberst Alfons",male,56.0,0,0,13213,35.500000,A26,C
659,660,False,1,"Newell, Mr. Arthur Webster",male,58.0,0,2,35273,113.250000,D48,C
672,673,False,2,"Mitchell, Mr. Henry Michael",male,70.0,0,0,C.A. 24580,10.500000,Deck,S
684,685,False,2,"Brown, Mr. Thomas William Solomon",male,60.0,1,1,29750,39.000000,Deck,S
694,695,False,1,"Weir, Col. John",male,60.0,0,0,113800,26.546875,Deck,S
695,696,False,2,"Chapman, Mr. Charles Henry",male,52.0,0,0,248731,13.500000,Deck,S
714,715,False,2,"Greenberg, Mr. Samuel",male,52.0,0,0,250647,13.000000,Deck,S
745,746,False,1,"Crosby, Capt. Edward Gifford",male,70.0,1,1,WE/P 5735,71.000000,B22,S
765,766,True,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.0,1,0,13502,77.937500,D11,S
772,773,False,2,"Mack, Mrs. (Mary)",female,57.0,0,0,S.O./P.P. 3,10.500000,E77,S
774,775,True,2,"Hocking, Mrs. Elizabeth (Eliza Needs)",female,54.0,1,3,29105,23.000000,Deck,S
820,821,True,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.0,1,1,12749,93.500000,B69,S
829,830,True,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.000000,B28,Q
851,852,False,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.773438,Deck,S
857,858,True,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.546875,E17,S
879,880,True,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.187500,C50,C

### Display passengers with Age above 50

### Display passengers that Embarked at location S and are female

In [178]:
data[(data.Embarked =="S") & (data.Sex =="female")]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,3,True,3,"Heikkinen, Miss. Laina",female,26.0000,0,0,STON/O2. 3101282,7.925781,Deck,S
3,4,True,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0000,1,0,113803,53.093750,C123,S
8,9,True,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0000,0,2,347742,11.132812,Deck,S
10,11,True,3,"Sandstrom, Miss. Marguerite Rut",female,4.0000,1,1,PP 9549,16.703125,G6,S
11,12,True,1,"Bonnell, Miss. Elizabeth",female,58.0000,0,0,113783,26.546875,C103,S
14,15,False,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0000,0,0,350406,7.855469,Deck,S
15,16,True,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0000,0,0,248706,16.000000,Deck,S
18,19,False,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0000,1,0,345763,18.000000,Deck,S
24,25,False,3,"Palsson, Miss. Torborg Danira",female,8.0000,3,1,349909,21.078125,Deck,S
25,26,True,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0000,1,5,347077,31.390625,Deck,S
38,39,False,3,"Vander Planke, Miss. Augusta Maria",female,18.0000,2,0,345764,18.000000,Deck,S
40,41,False,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0000,1,0,7546,9.476562,Deck,S
41,42,False,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0000,1,0,11668,21.000000,Deck,S
49,50,False,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0000,1,0,349237,17.796875,Deck,S
53,54,True,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.0000,1,0,2926,26.000000,Deck,S
56,57,True,2,"Rugg, Miss. Emily",female,21.0000,0,0,C.A. 31026,10.500000,Deck,S
58,59,True,2,"West, Miss. Constance Mirium",female,5.0000,1,2,C.A. 34651,27.750000,Deck,S
66,67,True,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.0000,0,0,C.A. 29395,10.500000,F33,S
68,69,True,3,"Andersson, Miss. Erna Alexandra",female,17.0000,4,2,3101281,7.925781,Deck,S
71,72,False,3,"Goodwin, Miss. Lillian Amy",female,16.0000,5,2,CA 2144,46.906250,Deck,S
79,80,True,3,"Dowdell, Miss. Elizabeth",female,30.0000,0,0,364516,12.476562,Deck,S
84,85,True,2,"Ilett, Miss. Bertha",female,17.0000,0,0,SO/C 14885,10.500000,Deck,S
85,86,True,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.0000,3,0,3101278,15.851562,Deck,S
88,89,True,1,"Fortune, Miss. Mabel Helen",female,23.0000,3,2,19950,263.000000,C23 C25 C27,S
98,99,True,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.0000,0,1,231919,23.000000,Deck,S
100,101,False,3,"Petranec, Miss. Matilda",female,28.0000,0,0,349245,7.894531,Deck,S
106,107,True,3,"Salkjelsvik, Miss. Anna Kristine",female,21.0000,0,0,343120,7.648438,Deck,S
113,114,False,3,"Jussila, Miss. Katriina",female,20.0000,1,0,4136,9.828125,Deck,S
119,120,False,3,"Andersson, Miss. Ellis Anna Maria",female,2.0000,4,2,347082,31.281250,Deck,S
123,124,True,2,"Webber, Miss. Susan",female,32.5000,0,0,27267,13.000000,E101,S
...,...,...,...,...,...,...,...,...,...,...,...,...
765,766,True,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.0000,1,0,13502,77.937500,D11,S
772,773,False,2,"Mack, Mrs. (Mary)",female,57.0000,0,0,S.O./P.P. 3,10.500000,E77,S
774,775,True,2,"Hocking, Mrs. Elizabeth (Eliza Needs)",female,54.0000,1,3,29105,23.000000,Deck,S
777,778,True,3,"Emanuel, Miss. Virginia Ethel",female,5.0000,0,0,364516,12.476562,Deck,S
779,780,True,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,43.0000,0,1,24160,211.375000,B3,S
781,782,True,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",female,17.0000,1,0,17474,57.000000,B20,S
786,787,True,3,"Sjoblom, Miss. Anna Sofia",female,18.0000,0,0,3101265,7.496094,Deck,S
792,793,False,3,"Sage, Miss. Stella Anna",female,29.6875,8,2,CA. 2343,69.562500,Deck,S
796,797,True,1,"Leader, Dr. Alice (Farnham)",female,49.0000,0,0,17465,25.921875,D17,S
797,798,True,3,"Osman, Mrs. Mara",female,31.0000,0,0,349244,8.679688,Deck,S
799,800,False,3,"Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...",female,30.0000,1,1,345773,24.156250,Deck,S
801,802,True,2,"Collyer, Mrs. Harvey (Charlotte Annie Tate)",female,31.0000,1,1,C.A. 31921,26.250000,Deck,S
807,808,False,3,"Pettersson, Miss. Ellen Natalia",female,18.0000,0,0,347087,7.773438,Deck,S
809,810,True,1,"Chambers, Mrs. Norman Campbell (Bertha Griggs)",female,33.0000,1,0,113806,53.093750,E8,S
813,814,False,3,"Andersson, Miss. Ebba Iris Alfrida",female,6.0000,4,2,347082,31.281250,Deck,S
816,817,False,3,"Heininen, Miss. Wendla Maria",female,23.0000,0,0,STON/O2. 3101290,7.925781,Deck,S
820,821,True,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.0000,1,1,12749,93.500000,B69,S
823,824,True,3,"Moor, Mrs. (Beila)",female,27.0000,0,1,392096,12.476562,E121,S
853,854,True,1,"Lines, Miss. Mary Conover",female,16.0000,0,1,PC 17592,39.406250,D28,S
854,855,False,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.0000,1,0,244252,26.000000,Deck,S
855,856,True,3,"Aks, Mrs. Sam (Leah Rosen)",female,18.0000,0,1,392091,9.351562,Deck,S
856,857,True,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0000,1,1,36928,164.875000,Deck,S
862,863,True,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0000,0,0,17466,25.921875,D17,S
863,864,False,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,29.6875,8,2,CA. 2343,69.562500,Deck,S
865,866,True,2,"Bystrom, Mrs. (Karolina)",female,42.0000,0,0,236852,13.000000,Deck,S
871,872,True,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0000,1,1,11751,52.562500,D35,S
880,881,True,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0000,0,1,230433,26.000000,Deck,S
882,883,False,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0000,0,0,7552,10.515625,Deck,S
887,888,True,1,"Graham, Miss. Margaret Edith",female,19.0000,0,0,112053,30.000000,B42,S
888,889,False,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.6875,1,2,W./C. 6607,23.453125,Deck,S

### Display passengers that paid for ticket more than 50 and are not in first class

In [182]:
data[~(data.Pclass == 1)& (data.Fare > 50)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
72,73,False,2,"Hood, Mr. Ambrose Jr",male,21.0000,0,0,S.O.C. 14879,73.5000,Deck,S
74,75,True,3,"Bing, Mr. Lee",male,32.0000,0,0,1601,56.5000,Deck,S
120,121,False,2,"Hickman, Mr. Stanley George",male,21.0000,2,0,S.O.C. 14879,73.5000,Deck,S
159,160,False,3,"Sage, Master. Thomas Henry",male,29.6875,8,2,CA. 2343,69.5625,Deck,S
169,170,False,3,"Ling, Mr. Lee",male,28.0000,0,0,1601,56.5000,Deck,S
180,181,False,3,"Sage, Miss. Constance Gladys",female,29.6875,8,2,CA. 2343,69.5625,Deck,S
201,202,False,3,"Sage, Mr. Frederick",male,29.6875,8,2,CA. 2343,69.5625,Deck,S
324,325,False,3,"Sage, Mr. George John Jr",male,29.6875,8,2,CA. 2343,69.5625,Deck,S
385,386,False,2,"Davies, Mr. Charles Henry",male,18.0000,0,0,S.O.C. 14879,73.5000,Deck,S
509,510,True,3,"Lang, Mr. Fang",male,26.0000,0,0,1601,56.5000,Deck,S
615,616,True,2,"Herman, Miss. Alice",female,24.0000,1,2,220845,65.0000,Deck,S
643,644,True,3,"Foo, Mr. Choong",male,29.6875,0,0,1601,56.5000,Deck,S
655,656,False,2,"Hickman, Mr. Leonard Mark",male,24.0000,2,0,S.O.C. 14879,73.5000,Deck,S
665,666,False,2,"Hickman, Mr. Lewis",male,32.0000,2,0,S.O.C. 14879,73.5000,Deck,S
692,693,True,3,"Lam, Mr. Ali",male,29.6875,0,0,1601,56.5000,Deck,S
754,755,True,2,"Herman, Mrs. Samuel (Jane Laver)",female,48.0000,1,2,220845,65.0000,Deck,S
792,793,False,3,"Sage, Miss. Stella Anna",female,29.6875,8,2,CA. 2343,69.5625,Deck,S
826,827,False,3,"Lam, Mr. Len",male,29.6875,0,0,1601,56.5000,Deck,S
838,839,True,3,"Chip, Mr. Chang",male,32.0000,0,0,1601,56.5000,Deck,S
846,847,False,3,"Sage, Mr. Douglas Bullen",male,29.6875,8,2,CA. 2343,69.5625,Deck,S
863,864,False,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,29.6875,8,2,CA. 2343,69.5625,Deck,S

### Display all passengers with Names that contain 'Johnson' (it's a surname)

In [ ]:
data[(data.Name.str.containsdJohnson)]

# Dodatkowe ćwiczenia

Korzystając z pliku `matches.csv` zawierającego dane o rozgrywkach piłkarskich:

1. Znajdź wszystkie mecze pomiędzy dwoma wybranymi drużynami w latach 2010-2015.\
2. Znajdź 10 meczów z największą różnicą bramek.
3. Policz liczbę zdobytych i straconych bramek na sezon dla wybranej drużyny. Narysuj wykres obrazujący uzyskane wyniki.
4. Policz średnią liczbę bramek przypadającą na jeden mecz w każdej lidze. Narysuj wykres obrazujący uzyskane wyniki.