### Load 'titanic_train.csv' CSV file and save last 5 rows in Excel format

In [6]:
import pandas as pd
import os
os.getcwd()

In [12]:
dane1 = pd.read_csv("files_pandas_21_01_2017/titanic_train.csv")
dane1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Load Excel file from previous exercise and save it again with only first four columns

### Test how loc and iloc works (be creative :) )

### Załaduj plik csv z `titanic_train.csv` z folderu `files_pandas_21_01_2017`

#### Sprawdź pierwsze wiersze

#### Policz wystąpienia wartości zmiennej survived

#### Sprawdź typy danych

# Wróćmy do wykładu - Zmiana typów danych w czasie odczytu

## Exercises

### Load 'titanic_train.csv' file, with category type for all columns that are compatible with this type.

### Fill NaN values in Age column with mean value of this column.

### Fill NaN values in Embarked with most common location.

### Create 3 Series with different indexes that overlap a bit (i.e. 1-10, 5-15, 10-20). Create DataFrame from them and see what happens.

### Display passengers with Age above 50

### Display passengers that Embarked at location S and are female

### Display passengers that paid for ticket more than 50 and are not in first class

### Display all passengers with Names that contain 'Johnson' (it's a surname)

# Dodatkowe ćwiczenia

Korzystając z pliku `matches.csv` zawierającego dane o rozgrywkach piłkarskich:

1. Znajdź wszystkie mecze pomiędzy dwoma wybranymi drużynami w latach 2010-2015.\
2. Znajdź 10 meczów z największą różnicą bramek.
3. Policz liczbę zdobytych i straconych bramek na sezon dla wybranej drużyny. Narysuj wykres obrazujący uzyskane wyniki.
4. Policz średnią liczbę bramek przypadającą na jeden mecz w każdej lidze. Narysuj wykres obrazujący uzyskane wyniki.